In [1]:
import pandas as pd
import re
from nltk import flatten
import numpy as np

# Data pre-processing work related to baseline model

In [3]:
data = pd.read_csv('cleaned_tweets.csv')
emoji_data = pd.read_csv('emoji.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222863 entries, 0 to 222862
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   index   222863 non-null  int64
 1   id      222863 non-null  int64
 2   time    222863 non-null  object
 3   tweets  222863 non-null  object
 4   emoji   222863 non-null  object
dtypes: int64(2), object(3)
memory usage: 8.5+ MB

In [5]:
emoji_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  60 non-null     int64
 1   symbol      60 non-null     object
 2   Name        60 non-null     object
 3   Score       60 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.0+ KB

In [ ]:
#display(emoji_data)
#display(data)

**Formatting the input data to a desired format**

In [17]:
num_emoji=2000

In [18]:
tweets_posts=[]
target_number=[]
target_emoji=[]
#take 250 examples for now
for e in emoji_data['symbol']:
  tweets_posts.append(data[data.emoji==e]['tweets'][:num_emoji].tolist()) #find the first 250 (subject to change) tweets of emoji e
  target_number.append([emoji_data[emoji_data['symbol']==e].index.values]*num_emoji) #append the index of emoji e 250 times (subject to change) to a list
  target_emoji.append([e]*num_emoji)

#they are nested list so need to flatten them
target_number=flatten(target_number)
target_number=[i[0] for i in target_number]
target_emoji=flatten(target_emoji)
tweets_posts=flatten(tweets_posts)

#create a dictionary
data2 = {'tweets':tweets_posts,
        'emojis_num':target_number,
         'emoji':target_emoji}

**Train Validation Split**

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
#convert dictionary to a dataframe
tweets_dataset = pd.DataFrame(data2)
display(tweets_dataset)

                                                   tweets  emojis_num emoji
0       love to see it  the numbers they both pull is ...           0     üëè
1          a story book scene.. congrats to both of you!            0     üëè
2                       four arms  more like... "for us"            0     üëè
3       here here. an amazing team of reps delivering ...           0     üëè
4                         they should do that to all cex.           0     üëè
...                                                   ...         ...   ...
119995        : destroy lonely &amp; ken carson - veteran          59    ‚ñ∂Ô∏è
119996  ‚†∏ | orari ‚†∏ 18/11 pre-ordini photo-folio wv sh...          59    ‚ñ∂Ô∏è
119997                 with  bartender - t-pain feat akon          59    ‚ñ∂Ô∏è
119998  ongoing votings for bts  aaa:  mama:  playlist...          59    ‚ñ∂Ô∏è
119999  avoid the hiring horrors and find out how you ...          59    ‚ñ∂Ô∏è

[120000 rows x 3 columns]

In [12]:
X_train, X_valid,Y_train,Y_valid = train_test_split(data2['tweets'],data2['emojis_num'], test_size=0.2,stratify=data2['emojis_num'],random_state=3)
print(len(X_train))
print(len(X_valid))

96000
24000

In [ ]:
print(Y_train)

**Convert Y_data to one-hot format as required by baseline model**

In [14]:
def Y_one_hot(Y):
  j=0
  y_list=[]
  #for loop to go through all the y_data
  for i in Y: # i is the emoji index number
    t=np.zeros(60) #‰∏çÊòØÂæàÁ°ÆÂÆöÁî®TensorËøòÊòØnumpyÔºüÔºüÔºü
    t[i]=1 #corresponding emoji index is 1
    y_list.append(t)
    j=j+1
  return y_list

In [15]:
Y_train=Y_one_hot(Y_train)
Y_valid=Y_one_hot(Y_valid)

In [ ]:
print(Y_train)

# Baseline Model

In [ ]:
#Baseline code start