In [1]:
!pip install emoji
!pip install clean-text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: emoji in /usr/local/lib/python3.7/dist-packages (1.7.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: clean-text in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: ftfy<7.0,>=6.0 in /usr/local/lib/python3.7/dist-packages (from clean-text) (6.1.1)
Requirement already satisfied: emoji<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from clean-text) (1.7.0)
Requirement already satisfied: wcwidth>=0.2.5 in /usr/local/lib/python3.7/dist-packages (from ftfy<7.0,>=6.0->clean-text) (0.2.5)

In [2]:
import pandas as pd
import re
import emoji
import string
from cleantext import clean

WARNING:root:Since the GPL-licensed package `unidecode` is not installed, using Python's `unicodedata` package which yields worse results.

In [3]:
#read csv
df1 = pd.read_csv('raw_tweets_p1.csv')
#display(df1)
df2 = pd.read_csv('raw_tweets_p2.csv')
#display(df2)
df3 = pd.read_csv('raw_tweets_p3.csv')
df4 = df1.append(df2, ignore_index=True)
df=df4.append(df3, ignore_index=True)
display(df)

,id,time,tweets,emoji
0,1593507164559056897,2022-11-18 07:31:28,@BLACKPINKSTATS5 Love to see it üëè the numbers ...,üëè
1,1593507163971911682,2022-11-18 07:31:28,@PostmanCarson congratulations John üéä üëè,üëè
2,1593507163506462721,2022-11-18 07:31:28,@Tyranjf @RunningWithTum1 @we_are_runners @Ich...,üëè
3,1593507132296527873,2022-11-18 07:31:20,A story book scene.. congrats to both of you! üëè,üëè
4,1593507130291769345,2022-11-18 07:31:20,@thatpositivepie üëèüëèüëè and good look,üëè
...,...,...,...,...
300609,1593520889517297668,2022-11-18 08:26:00,@UKDaddyBear1 Needs my tongue üëÖ,üëÖ
300610,1593520798521778177,2022-11-18 08:25:39,@LoganFoxx69 Wow nice dick üçÜüëÖ,üëÖ
300611,1593520489259204608,2022-11-18 08:24:25,Would you üíã or üëÖ?\n\nbokep indo viral mesum li...,üëÖ
300612,1593520348082970624,2022-11-18 08:23:51,@victoriacake3x YeaaaahüëÖüëÖ,üëÖ
300613,1593520095522955264,2022-11-18 08:22:51,@kinkykha Such a pretty pink pussy üëÖüí¶üí¶,üëÖ

In [4]:
temp_data = df.groupby("emoji").size().sort_values(ascending = False)
# temp_list=df.index[df['emoji'] == 'üëÖ'].tolist()
# print(len(temp_list))
temp_data

emoji
üíõ        6082
üíó        5000
üíò        5000
üíö        5000
üíú        5000
         ...
üíã        5000
üíì        5000
üíï        5000
üëÖ        4531
emoji       1
Length: 61, dtype: int64

Remove Duplicates

In [5]:
df.drop_duplicates(keep='first', subset="tweets",inplace=True)
df.info()
#df.loc[120].tweets
df=df.reset_index()

#data cleaning process
raw_dataset = df['tweets']
target_emoji = df['emoji']
tweet_id=df['id']
tweet_time=df['time']
#df.drop('index')
#print(raw_dataset)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283895 entries, 0 to 300517
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      283895 non-null  object
 1   time    283895 non-null  object
 2   tweets  283895 non-null  object
 3   emoji   283895 non-null  object
dtypes: object(4)
memory usage: 10.8+ MB

In [6]:
temp_list=df.index[df['emoji'] == 'üëÖ'].tolist()
print(len(temp_list))

4058

In [7]:
display(df)

,index,id,time,tweets,emoji
0,0,1593507164559056897,2022-11-18 07:31:28,@BLACKPINKSTATS5 Love to see it üëè the numbers ...,üëè
1,1,1593507163971911682,2022-11-18 07:31:28,@PostmanCarson congratulations John üéä üëè,üëè
2,2,1593507163506462721,2022-11-18 07:31:28,@Tyranjf @RunningWithTum1 @we_are_runners @Ich...,üëè
3,3,1593507132296527873,2022-11-18 07:31:20,A story book scene.. congrats to both of you! üëè,üëè
4,4,1593507130291769345,2022-11-18 07:31:20,@thatpositivepie üëèüëèüëè and good look,üëè
...,...,...,...,...,...
283890,300239,1593564433950834688,2022-11-18 11:19:02,@misssophyxo How sexy the body would lick youüíã...,üëÖ
283891,300435,1593541867089567745,2022-11-18 09:49:22,@similolamobee Mama I saw the caption \nI am n...,üëÖ
283892,300440,1593541295082856448,2022-11-18 09:47:05,"A day later, I'm still looking at Mommy's musc...",üëÖ
283893,300467,1593536193651695619,2022-11-18 09:26:49,üëÖDrop your handles let‚Äôs follow you!,üëÖ
283894,300517,1593529991777554432,2022-11-18 09:02:11,let's follow everyone who like and retweet üëÖ,üëÖ

Remove hastags, urls, mentions, BOM character, none-English words and extra spaces after cleaning

In [ ]:
# import nltk 
# nltk.download('words')
# words = set(nltk.corpus.words.words())

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [33]:
#reference to https://github.com/giuliadnt/emo_tweepy with some changes
def clean_tweets(list_of_tweets):
    """
    :param list_of_tweets: list of unique tweets (no duplicates)
    :return: list of preprocessed tweets
    the function standardizes mentions --> @USER
    and URLs --> @URL
    removes BOM character
    """
    # matches @username
    # mentions = re.compile('(@.*?)(?=\s|\:)')#(^|\s)
    # links = re.compile('(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?')
    # hashtags = re.compile('#([a-zA-Z0-9_]{1,50})')
    # L = re.sub('[0-9]+', '', row['tweets']) 
    # L=re.split('[ ,.!?:$&*/\|<>^+=-_-‚Ä¢%;„ÄÇÔΩ•Ôºå<>]',L)  
    #no_mentions = [re.sub(mentions, "", i) for i in list_of_tweets]
    punctuation=string.punctuation
    lower_case = [i.lower() for i in list_of_tweets]
    list_of_tweets=[clean(i,no_emoji=True) for i in lower_case] #remove in-text emojis
    lower_case = [i.encode('ascii', 'ignore').decode() for i in lower_case] # remove unicode characters
    # lower_case=[re.sub(punctuation, "", i) for i in lower_case]
    
    no_number=[re.sub('[0-9]+', "", i) for i in lower_case]
    no_number=[re.sub(r'\s[a-z]\s|\s[0-9]\s', " ", i) for i in no_number]
 
    no_mentions = [re.sub(r"@\S+", "", i) for i in no_number]
   
    no_links = [re.sub(r"http\S+", "", i) for i in no_mentions]
    no_links = [re.sub(r"www.\S+", "", i) for i in no_links]
    no_BOM = [re.sub(u"\ufeff", "", i) for i in no_links]
    #no_hash = [re.sub(hashtags,"",i)for i in no_BOM]
    no_hash = [re.sub(r"#\S+","",i)for i in no_BOM]
    no_newlinechar = [re.sub('\n', "", i) for i in no_hash]
    no_newlinechar=[i.translate(str.maketrans('', '', string.punctuation)) for i in no_newlinechar]
    #no_nonEnglish = [" ".join(w for w in nltk.wordpunct_tokenize(sent) if w.lower() in words or not w.isalpha()) for sent in no_newlinechar]
    # for sent in no_newlinechar:
    #   for word in sent:
    #     word = " ".join(w for w in nltk.wordpunct_tokenize(word) if w.lower() in words or not w.isalpha())
    no_extraspace = [" ".join(i.split()) for i in no_newlinechar]
    return no_extraspace

In [34]:
temp=["I need you girl ÎÑå ÏïÑÎ¶ÑÎã§Ïõå I! need you happy e girlüëè ÎÑàÎ¨¥ Ï∞®Í∞ÄÏõå I need you girl I need you girlI need you girl I need you girl - I NEED U -BTS Favorite K-Pop Artist","Yeeeeeeeeeeees.Happy Birthday @Tilly"]
clean_tweets(temp)
# sent = " ".join(w for w in nltk.wordpunct_tokenize(temp) if w.lower() in words or not w.isalpha())
# print(sent)

['i need you girl i need you happy girl need you girl need you girli need you girl need you girl need bts favorite kpop artist',
 'yeeeeeeeeeeeeshappy birthday']

In [35]:
temp=["A ‰Ω†Â•Ωstory book scene.. congrats to both of you! üëè"]
print("Before clean:",temp)
print("After clean:",clean_tweets(temp))

Before clean: ['A ‰Ω†Â•Ωstory book scene.. congrats to both of you! üëè']
After clean: ['a story book scene congrats to both of you']

In [32]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [36]:
#remove hashtags,urls,@,extraspances..
cleaned_dataset=clean_tweets(raw_dataset)

In [13]:
cleaned_dataset[0:10]

['blackpinkstats love to see it the numbers they both pull is mind blowing talent speaks for itself',
 'postmancarson congratulations john',
 'tyranjf runningwithtum wearerunners ichoosebactive well done champ',
 'a story book scene congrats to both of you',
 'thatpositivepie and good look',
 'rjayowo four arms more like for us',
 'cleanfeedttvr love the mogg',
 'here here an amazing team of reps delivering and making work better for our members',
 'enronchairman they should do that to all cex',
 'congratulations chi chi']

In [37]:
#organize post and emoji to a dataframe
data2 = {'id':tweet_id,
         'time':tweet_time,
         'tweets':cleaned_dataset,
        'emoji':target_emoji}

Emojimotion_df = pd.DataFrame(data2)

Drop the sentences that are less than 4 words

In [38]:
ind_list=[]
ind=0
temp=cleaned_dataset
for tw in temp:
  tw_word_list = re. findall(r"[\w'\"]+|[,.!?] ", tw)
  # print(tw_word_list)
  #print(len(tw_word))
  if len(tw_word_list)<4:
    ind_list.append(ind)
  ind=ind+1
Emojimotion_df.drop(ind_list,axis=0,inplace=True)
Emojimotion_df=Emojimotion_df.reset_index()
Emojimotion_df.head()

,index,id,time,tweets,emoji
0,0,1593507164559056897,2022-11-18 07:31:28,love to see it the numbers they both pull is m...,üëè
1,3,1593507132296527873,2022-11-18 07:31:20,a story book scene congrats to both of you,üëè
2,5,1593507124596084736,2022-11-18 07:31:19,four arms more like for us,üëè
3,7,1593507111023034369,2022-11-18 07:31:15,here here an amazing team of reps delivering a...,üëè
4,8,1593507062893641728,2022-11-18 07:31:04,they should do that to all cex,üëè

In [39]:
Emojimotion_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212295 entries, 0 to 212294
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   index   212295 non-null  int64
 1   id      212295 non-null  object
 2   time    212295 non-null  object
 3   tweets  212295 non-null  object
 4   emoji   212295 non-null  object
dtypes: int64(1), object(4)
memory usage: 8.1+ MB

In [69]:
#write the finnal dataframe to a csv file
Emojimotion_df.to_csv('cleaned_tweets.csv',index=False)

In [40]:
data = Emojimotion_df.groupby("emoji").size().sort_values(ascending = False)
data

emoji
‚ûñ     4563
üíì     4453
üëá     4245
üí©     4237
üòï     4218
üéß     4182
‚ñ∂Ô∏è    4167
üî¥     4151
üò¨     4150
üò†     4106
üí∞     4106
üíÄ     4095
üò°     4089
üòì     4079
üìç     4077
üòî     4029
üò£     4019
üò´     4014
üòû     4005
üòù     3936
‚òÅÔ∏è    3900
üòÑ     3870
üòÆ     3869
‚ùóÔ∏è    3773
üò≥     3764
‚ö°Ô∏è    3681
üòπ     3676
üíõ     3644
üòå     3589
üíÉ     3577
üòÉ     3545
üíô     3506
‚úä     3492
üíñ     3478
‚úÖ     3428
‚úîÔ∏è    3367
üôè     3339
üå∑     3338
üòã     3260
üòö     3194
üéÅ     3169
‚ú®     3164
üëë     3137
üíï     3075
üíó     3072
üåà     3063
üíö     3050
üòò     3044
üíú     3037
üíò     3015
üíã     3014
üçÉ     2998
üåπ     2809
üòª     2781
üå∫     2775
üëÖ     2745
üëå     2661
‚¨ÖÔ∏è    2545
üëè     2534
‚òïÔ∏è    2396
dtype: int64