In [46]:
pip install emoji

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: emoji in /usr/local/lib/python3.7/dist-packages (2.2.0)

In [51]:
import pandas as pd
import re
import emoji

In [52]:
#read csv
df1 = pd.read_csv('raw_tweets_p1.csv')
#display(df1)
df2 = pd.read_csv('raw_tweets_p2.csv')
#display(df2)
df3 = pd.read_csv('raw_tweets_p3.csv')
df4 = df1.append(df2, ignore_index=True)
df=df4.append(df3, ignore_index=True)
display(df)

,id,time,tweets,emoji
0,1593507164559056897,2022-11-18 07:31:28,@BLACKPINKSTATS5 Love to see it üëè the numbers ...,üëè
1,1593507163971911682,2022-11-18 07:31:28,@PostmanCarson congratulations John üéä üëè,üëè
2,1593507163506462721,2022-11-18 07:31:28,@Tyranjf @RunningWithTum1 @we_are_runners @Ich...,üëè
3,1593507132296527873,2022-11-18 07:31:20,A story book scene.. congrats to both of you! üëè,üëè
4,1593507130291769345,2022-11-18 07:31:20,@thatpositivepie üëèüëèüëè and good look,üëè
...,...,...,...,...
300609,1593520889517297668,2022-11-18 08:26:00,@UKDaddyBear1 Needs my tongue üëÖ,üëÖ
300610,1593520798521778177,2022-11-18 08:25:39,@LoganFoxx69 Wow nice dick üçÜüëÖ,üëÖ
300611,1593520489259204608,2022-11-18 08:24:25,Would you üíã or üëÖ?\n\nbokep indo viral mesum li...,üëÖ
300612,1593520348082970624,2022-11-18 08:23:51,@victoriacake3x YeaaaahüëÖüëÖ,üëÖ
300613,1593520095522955264,2022-11-18 08:22:51,@kinkykha Such a pretty pink pussy üëÖüí¶üí¶,üëÖ

In [53]:
temp_data = df.groupby("emoji").size().sort_values(ascending = False)
# temp_list=df.index[df['emoji'] == 'üëÖ'].tolist()
# print(len(temp_list))
temp_data

emoji
üíõ        6082
üíó        5000
üíò        5000
üíö        5000
üíú        5000
         ...
üíã        5000
üíì        5000
üíï        5000
üëÖ        4531
emoji       1
Length: 61, dtype: int64

Remove Duplicates

In [54]:
df.drop_duplicates(keep='first', subset="tweets",inplace=True)
df.info()
#df.loc[120].tweets
df=df.reset_index()

#data cleaning process
raw_dataset = df['tweets']
target_emoji = df['emoji']
tweet_id=df['id']
tweet_time=df['time']
#df.drop('index')
#print(raw_dataset)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283895 entries, 0 to 300517
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      283895 non-null  object
 1   time    283895 non-null  object
 2   tweets  283895 non-null  object
 3   emoji   283895 non-null  object
dtypes: object(4)
memory usage: 10.8+ MB

In [55]:
temp_list=df.index[df['emoji'] == 'üëÖ'].tolist()
print(len(temp_list))

4058

In [56]:
display(df)

,index,id,time,tweets,emoji
0,0,1593507164559056897,2022-11-18 07:31:28,@BLACKPINKSTATS5 Love to see it üëè the numbers ...,üëè
1,1,1593507163971911682,2022-11-18 07:31:28,@PostmanCarson congratulations John üéä üëè,üëè
2,2,1593507163506462721,2022-11-18 07:31:28,@Tyranjf @RunningWithTum1 @we_are_runners @Ich...,üëè
3,3,1593507132296527873,2022-11-18 07:31:20,A story book scene.. congrats to both of you! üëè,üëè
4,4,1593507130291769345,2022-11-18 07:31:20,@thatpositivepie üëèüëèüëè and good look,üëè
...,...,...,...,...,...
283890,300239,1593564433950834688,2022-11-18 11:19:02,@misssophyxo How sexy the body would lick youüíã...,üëÖ
283891,300435,1593541867089567745,2022-11-18 09:49:22,@similolamobee Mama I saw the caption \nI am n...,üëÖ
283892,300440,1593541295082856448,2022-11-18 09:47:05,"A day later, I'm still looking at Mommy's musc...",üëÖ
283893,300467,1593536193651695619,2022-11-18 09:26:49,üëÖDrop your handles let‚Äôs follow you!,üëÖ
283894,300517,1593529991777554432,2022-11-18 09:02:11,let's follow everyone who like and retweet üëÖ,üëÖ

Remove hastags, urls, mentions, BOM character, none-English words and extra spaces after cleaning

In [57]:
import nltk 
nltk.download('words')
words = set(nltk.corpus.words.words())

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [58]:
#reference to https://github.com/giuliadnt/emo_tweepy with some changes
def clean_tweets(list_of_tweets):
    """
    :param list_of_tweets: list of unique tweets (no duplicates)
    :return: list of preprocessed tweets
    the function standardizes mentions --> @USER
    and URLs --> @URL
    removes BOM character
    """
    # matches @username
    mentions = re.compile('(@.*?)(?=\s|\:)')#(^|\s)
    # http://stackoverflow.com/questions/6038061/regular-expression-to-find-urls-within-a-string
    links = re.compile('(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?')
    hashtags = re.compile('#([a-zA-Z0-9_]{1,50})')
    #no_mentions = [re.sub(mentions, "", i) for i in list_of_tweets]
    lower_case = [i.lower() for i in list_of_tweets]
    no_mentions = [re.sub(r"@\S+", "", i) for i in lower_case]
    #no_links = [re.sub(links, "", i) for i in no_mentions]
    no_links = [re.sub(r"http\S+", "", i) for i in no_mentions]
    no_links = [re.sub(r"www.\S+", "", i) for i in no_links]
    no_BOM = [re.sub(u"\ufeff", "", i) for i in no_links]
    #no_hash = [re.sub(hashtags,"",i)for i in no_BOM]
    no_hash = [re.sub(r"#\S+","",i)for i in no_BOM]
    no_newlinechar = [re.sub('\n', "", i) for i in no_hash]
    #no_nonEnglish = [" ".join(w for w in nltk.wordpunct_tokenize(sent) if w.lower() in words or not w.isalpha()) for sent in no_newlinechar]
    # for sent in no_newlinechar:
    #   for word in sent:
    #     word = " ".join(w for w in nltk.wordpunct_tokenize(word) if w.lower() in words or not w.isalpha())
    no_extraspace = [" ".join(i.split()) for i in no_newlinechar]
    return no_extraspace

In [59]:
temp=["I need you girl ÎÑå ÏïÑÎ¶ÑÎã§ÏõåI need you girl ÎÑàÎ¨¥ Ï∞®Í∞ÄÏõåI need you girl I need you girlI need you girl I need you girl - I NEED U -BTS Favorite K-Pop Artist","Yeeeeeeeeeeees.Happy Birthday @Tilly"]
clean_tweets(temp)
# sent = " ".join(w for w in nltk.wordpunct_tokenize(temp) if w.lower() in words or not w.isalpha())
# print(sent)

['i need you girl ÎÑå ÏïÑÎ¶ÑÎã§Ïõåi need you girl ÎÑàÎ¨¥ Ï∞®Í∞ÄÏõåi need you girl i need you girli need you girl i need you girl - i need u -bts favorite k-pop artist',
 'yeeeeeeeeeeees.happy birthday']

In [60]:
#remove hashtags,urls,@,extraspances..
cleaned_dataset=clean_tweets(raw_dataset)
#display(cleaned_dataset)

In [61]:
#remove emoji from tweets
cleaned_tweets=[emoji.replace_emoji(i,replace="") for i in cleaned_dataset]

In [31]:
#display(cleaned_tweets)

In [62]:
#organize post and emoji to a dataframe
data2 = {'id':tweet_id,
         'time':tweet_time,
         'tweets':cleaned_tweets,
        'emoji':target_emoji}

Emojimotion_df = pd.DataFrame(data2)
display(Emojimotion_df)

,id,time,tweets,emoji
0,1593507164559056897,2022-11-18 07:31:28,love to see it the numbers they both pull is ...,üëè
1,1593507163971911682,2022-11-18 07:31:28,congratulations john,üëè
2,1593507163506462721,2022-11-18 07:31:28,well done champ,üëè
3,1593507132296527873,2022-11-18 07:31:20,a story book scene.. congrats to both of you!,üëè
4,1593507130291769345,2022-11-18 07:31:20,and good look,üëè
...,...,...,...,...
283890,1593564433950834688,2022-11-18 11:19:02,how sexy the body would lick you,üëÖ
283891,1593541867089567745,2022-11-18 09:49:22,mama i saw the caption i am not willing to glo...,üëÖ
283892,1593541295082856448,2022-11-18 09:47:05,"a day later, i'm still looking at mommy's muscles",üëÖ
283893,1593536193651695619,2022-11-18 09:26:49,drop your handles let‚Äôs follow you!,üëÖ
283894,1593529991777554432,2022-11-18 09:02:11,let's follow everyone who like and retweet,üëÖ

Drop the sentences that are less than 4 words

In [63]:
ind_list=[]
ind=0
temp=cleaned_tweets
for tw in temp:
  tw_word_list = re. findall(r"[\w'\"]+|[,.!?] ", tw)
  #print(len(tw_word))
  if len(tw_word_list)<4:
    ind_list.append(ind)
  ind=ind+1
Emojimotion_df.drop(ind_list,axis=0,inplace=True)

In [64]:
Emojimotion_df=Emojimotion_df.reset_index()
display(Emojimotion_df)

,index,id,time,tweets,emoji
0,0,1593507164559056897,2022-11-18 07:31:28,love to see it the numbers they both pull is ...,üëè
1,3,1593507132296527873,2022-11-18 07:31:20,a story book scene.. congrats to both of you!,üëè
2,5,1593507124596084736,2022-11-18 07:31:19,"four arms more like... ""for us""",üëè
3,7,1593507111023034369,2022-11-18 07:31:15,here here. an amazing team of reps delivering ...,üëè
4,8,1593507062893641728,2022-11-18 07:31:04,they should do that to all cex.,üëè
...,...,...,...,...,...
222858,283890,1593564433950834688,2022-11-18 11:19:02,how sexy the body would lick you,üëÖ
222859,283891,1593541867089567745,2022-11-18 09:49:22,mama i saw the caption i am not willing to glo...,üëÖ
222860,283892,1593541295082856448,2022-11-18 09:47:05,"a day later, i'm still looking at mommy's muscles",üëÖ
222861,283893,1593536193651695619,2022-11-18 09:26:49,drop your handles let‚Äôs follow you!,üëÖ
222862,283894,1593529991777554432,2022-11-18 09:02:11,let's follow everyone who like and retweet,üëÖ

In [65]:
#write the finnal dataframe to a csv file
Emojimotion_df.to_csv('/content/cleaned_tweets.csv',index=False)

In [66]:
#some dataset testing 
import seaborn as sns
import matplotlib.pyplot as plt

In [67]:
data = Emojimotion_df.groupby("emoji").size().sort_values(ascending = False)
data

emoji
‚ûñ     4636
üíì     4517
üòï     4386
üí©     4381
üëá     4331
üò¨     4293
‚ñ∂Ô∏è    4291
üéß     4284
üî¥     4261
üò†     4258
üò°     4242
üòì     4235
üíÄ     4233
üí∞     4184
üòû     4177
üìç     4172
üòî     4171
üò£     4165
üò´     4154
‚òÅÔ∏è    4118
üòù     4112
üòÆ     4052
üòÑ     4051
üò≥     3977
‚ùóÔ∏è    3898
üíõ     3876
‚ö°Ô∏è    3852
üòπ     3849
üòå     3792
üòÉ     3756
üíÉ     3731
üíñ     3718
‚úä     3692
üíô     3691
üå∑     3583
‚úÖ     3573
‚úîÔ∏è    3488
üòã     3458
üôè     3449
üòö     3432
‚ú®     3363
üéÅ     3318
üíó     3317
üëë     3308
üíï     3306
üåà     3298
üíö     3281
üíú     3266
üíò     3257
üòò     3248
üíã     3207
üçÉ     3136
üëè     3113
üòª     3039
üåπ     3007
üå∫     2953
üëÖ     2907
üëå     2808
‚¨ÖÔ∏è    2624
‚òïÔ∏è    2588
dtype: int64

In [ ]:
# sns.set(style="whitegrid", color_codes=True)
# data = Emojimotion_df.groupby("emoji").size().sort_values(ascending = False)
# pal = sns.color_palette("Blues_d", len(data))
# sns.barplot(x=data.index, y=data, palette=pal)

# plt.show()

# data